<!DOCTYPE html>
<html ng-app="toDoApp">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    @RenderBody()

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angular")
    <script src="~/Scripts/Site/app.js"></script>
    <script src="~/Scripts/Site/routing.js"></script>
    <script src="~/Scripts/Site/controllers.js"></script>
    <script src="~/Scripts/Site/factories.js"></script>
    @RenderSection("scripts", required: false)
</body>
</html>
